
/* Figure out how to get this to work since it doesn't seem to have any effect
    body {
    background-color: #7C3F7C
} 
*/



.title {
    font-family: "Lucida Calligraphy";
    font-size: 750%;
    font-weight: bold;
    color: white;
    text-align: center;
    margin-top: 25px;
    margin-bottom: 0px;
}

textarea {
            margin-top: 15px;
            margin-left: 50px;
            width: 825px;
            height: 495px;
            font: normal 14px verdana;
            line-height: 25px;
            padding: 2px 10px;
            border: solid 1px #ddd;
        }

p {
    font-family: "Palatino Linotype";
    font-size: medium;
} 

a:link {
    
   color: red;
}

a:visited {
    color: blue;
}

a:hover {
    color: hotpink;
}


a:active {
    color: orange;
}

.footer {
    text-align: left;
    background-color: yellow;
    color: tomato;
    
}

.services {
    color: white;
}

