


.navbar {
    width:100%;
    overflow: hidden;
    background: linear-gradient(#1e130c, #9a8478);
    position: fixed;
}

.navbar a {
    float: left;
    display: block;
    text-align: center;
    padding: 18px 20px;
    text-decoration: none;
}

.title {
    font-family: "Lucida Calligraphy";
    font-size: 750%;
    font-weight: bold;
    color: white;
    text-align: center;
    margin-top: 50px;
    margin-bottom: 0px;
}

textarea {
            margin-top: 15px;
            margin-left: 50px;
            width: 825px;
            height: 505px;
            font: normal 30px Avenir;
            line-height: 25px;
            padding: 50px;
            border: solid 1px black;
            box-sizing: border-box;
        }

p {
    font-family: "Palatino Linotype";
    font-size: medium;
} 

a:link {
    
   color: red;
}

a:visited {
    color: white;
}

a:hover {
    color: yellow;
}


a:active {
    color: orange;
}

.footer {
    text-align: left;
    background-color: yellow;
    color: tomato;
    
}

.services {
    color: white;
}

