h1 {
    font-family: "Lucida Calligraphy";
    font-size: 750%;
    font-weight: bold;
    color: white;
    text-align: center;
    height: 160px;
    margin-bottom: 0px;
}

p {
    font-family: "Palatino Linotype";
    font-size: medium;
} 

a:link {
    
   color: red;
}

a:visited {
    color: blue;
}

a:hover {
    color: hotpink;
}


a:active {
    color: orange;
}

.footer {
    text-align: left;
    background-color: yellow;
    color: tomato;
    
}

.services {
    color: white;
}

